<div class="page-container">
    <div class="container">
        <div class="row">
            <div>
                <div class="col">
                    <h3>Contact: </h3><br/>
                    <ul>
                        <li>MOKHTARI Anouar</li>
                        <li>contact.jampower@gmail.com</li>
                        <li>Chére (e) Merci pour votre utilisation, je suis trés ouvert à des PullRequests ou toutes suggestions.</li>
                        <li>Merci de m'encourager en rajoutant une Star (^^)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
