<div class="row">
    <div class="price-net">
        <h3>Prix NET: {{ netPrice }} €</h3>
    </div>
</div>
<div class="row">
    <table mat-table [dataSource]="dataGridResults" class="mat-elevation-z8">
        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> Type </th>
            <td mat-cell *matCellDef="let element"> {{element.type}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="csInt">
            <th mat-header-cell *matHeaderCellDef> csInt </th>
            <td mat-cell *matCellDef="let element"> {{element.csInt}} </td>
        </ng-container>

        <ng-container matColumnDef="intTotal">
            <th mat-header-cell *matHeaderCellDef> intTotal </th>
            <td mat-cell *matCellDef="let element"> {{element.intTotal}} </td>
        </ng-container>

        <ng-container matColumnDef="rIR">
            <th mat-header-cell *matHeaderCellDef> rIR </th>
            <td mat-cell *matCellDef="let element"> {{element.rIR}} </td>
        </ng-container>

        <ng-container matColumnDef="remu">
            <th mat-header-cell *matHeaderCellDef> remu </th>
            <td mat-cell *matCellDef="let element"> {{element.remu}} </td>
        </ng-container>

        <ng-container matColumnDef="IR">
            <th mat-header-cell *matHeaderCellDef> IR </th>
            <td mat-cell *matCellDef="let element"> {{element.IR}} </td>
        </ng-container>

        <ng-container matColumnDef="cs">
            <th mat-header-cell *matHeaderCellDef> cs </th>
            <td mat-cell *matCellDef="let element"> {{element.cs}} </td>
        </ng-container>

        <ng-container matColumnDef="rIS">
            <th mat-header-cell *matHeaderCellDef> rIS </th>
            <td mat-cell *matCellDef="let element"> {{element.rIS}} </td>
        </ng-container>

        <ng-container matColumnDef="cout">
            <th mat-header-cell *matHeaderCellDef> cout </th>
            <td mat-cell *matCellDef="let element"> {{element.cout}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>