<div class="page-container">
    <div class="container">
        <div class="row">

            <label for="input-id">
              Le script ne gère pas encore de paramètres optionnels pour le régler. Par contre il a des constantes que vous pouvez facilement modifier en tête de fichier.
            </label>
            <br/>
            <span>Le paramétrage par défaut prend en compte :</span>
            <ul>
                <li>un TMI à 30%</li>
                <li>des charges sociales de 45% en dehors (TNS)</li>
                <li>Les règles de calcul et taux utilisés sont ceux applicables à l'année 2016 (charges sociales des différents statuts, réductions fiscales, …).
                </li>
                <li>un TMI à 30% des charges sociales de 45% en dehors (TNS) Les règles de calcul et taux utilisés sont ceux applicables à l'année 2016 (charges sociales des différents statuts, réductions fiscales, …).
                </li>
            </ul>
        </div>
    </div>
</div>
